<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
    <link href="css/lib/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/tzar-bootstrap.css" rel="stylesheet"/>

    <script>
      <!--
        (function() {
          if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
              document.createTextNode("@-ms-viewport{width:auto!important}")
            );
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
          }
        })();
      //-->
    </script>

    <!--[if lt IE 9]>
      <script src="js/shiv/html5shiv.min.js"></script>
    <![endif]-->

    <title>Snack Tzar</title>
  </head>

  <body ng-app="snackTzarApp" ng-controller="FireBaseLoginCtrl">
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ng-href="#" class="navbar-brand">Snack Tzar</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" ng-controller="HeaderCtrl">
            <li ng-class="{ active: isActive('/')}"><a ng-href="#">Home</a></li>
            <li ng-class="{ active: isActive('/cart')}" ng-hide="!loginObj.user"><a ng-href="#/cart">Shopping Cart</a></li>
            <li ng-class="{ active: isActive('/fulfilled')}"><a ng-href="#/fulfilled">Fulfilled</a></li>
            <li ng-class="{ active: isActive('/yourReqs')}" ng-hide="!loginObj.user"><a ng-href="#/yourReqs">Your Requests</a></li>
            <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
            <li ng-class="{ active: isActive('/admin')}" ng-hide="isAdmin(loginObj.user)"><a ng-href="#/admin">Admin Console</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-hide="loginObj.user" ng-click="loginObj.$login('google')">Login</a></li>
            <li><a ng-show="loginObj.user" ng-click="loginObj.$logout()">Logout</a></li>
          </ul>
        </div>
        <!--.navbar-collapse-->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <div ng-view=""></div>
      </div>
    </div>

    <!--Firebase Authentication and Plugins-->
    <script src='js/lib/firebase.js'></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js'></script>

    <!--Libraries-->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>

    <!--More Libraries-->
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/angular-cookies.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-touch.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src='js/lib/angularfire.min.js'></script>

    <!--Main application-->
    <script src="js/app.js"></script>

    <!--Controllers-->
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/cart.js"></script>
    <script src="js/controllers/fulfill.js"></script>
    <script src="js/controllers/about.js"></script>
    <script src="js/controllers/yourReqs.js"></script>
    <script src="js/controllers/admin.js"></script>
    
    <!--Minimized Menu Closing Fix-->
    <script>
      $(document).on('click','.navbar-collapse.in',function(e) {
          if( $(e.target).is('a') ) {
              $(this).collapse('hide');
          }
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40300492-1', 'auto');
      ga('send', 'pageview');
    </script>
    
  </body>
</html>