
<h1>About</h1>

<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Info</h2>
    </div>
    <div class="panel-body text-left">
      <p>Hi all, this is still in the early stages of development, however, it is far enough along that you can play around with it and get a feel for the application. If you have any suggestions on additions to the functionality please let me know!</p><br />
      <p>Thanks,<br />Brian</p>
    </div>
  </div>
</div>

<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>TODO:</h2>
    </div>
    <div class="panel-body">
      <ul class="list-group" ng-repeat="task in todoList">
        <li class="list-group-item text-left panel-warning">{{task.desc}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Known Defects:</h2>
    </div>
    <div class="panel-body">
      <ul class="list-group" ng-repeat="defect in bugList">
        <li class="list-group-item text-left panel-danger">{{defect.desc}}</li>
      </ul>
    </div>
  </div>
</div>