<h1>Admin Console</h1>

<div class="row col-mid-12">
  <div class="panel panel-default">
    <div class="panel-heading">Controls</div>
    <div class="panel-body col-mid-6">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          General Information
        </div>
        <div class="panel panel-body">
          This page is currently under construction. Please poke around a bit, but be warned that it is still very rough around the edges.
        </div>
      </div>
    </div>
    <div class="panel-body col-mid-6">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          Expermamental Controls
        </div>
        <div class="panel panel-body">
          <button type="button" class="btn btn-warning">List Lock</button>
          <button type="button" class="btn btn-danger">Purge Data</button>
        </div>
      </div>
    </div>
  </div>
</div>