<h1>Fulfilled Requests</h1>
<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Controls</div>
    <div class="panel-body">
      <form name="searchForm" id="searchForm" role="form">
        <div class="form-group text-left">
          <label for="reqSearchField">Search Fulfilled Requests</label>
          <input type="text" ng-model="reqSearch.name" id="reqSearchField" class="form-control" placeholder="Search By Snack Name">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Fulfilled Requests</div>
    <div class="panel-body">
      <ul class="list-group" ng-repeat="snack in snackList | orderByPriority | filter:reqSearch:strict | filter: {fulfilled: true}">
        <li class="list-group-item text-left">
          {{snack.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
