<h1 class="no-print">Snack List</h1>
<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 no-print">
  <div class="panel panel-default">
    <div class="panel-heading">Controls</div>
    <div class="panel-body" ng-controller="AdminCtrl">
      <form name="snackForm" id="snackForm" role="form" ng-submit="addSnack($parent.snack, loginObj.user); reset()">
        <div class="input-group">
          <input type="text" class="form-control" maxlength="50" placeholder="Snack Name" ng-model="$parent.snack" required ng-disabled="!loginObj.user || checkLock()"/>
          <span class="input-group-btn">
            <button class="btn btn-primary form-control" type="button" ng-click="addSnack($parent.snack, loginObj.user); reset()" required>Request</button>
          </span>
        </div>
      </form>
    </div>
    <div class="panel-body">
      <form name="searchForm" id="searchForm" role="form">
        <div class="form-group text-left">
          <label for="snackSearchField">Search Requests</label>
          <input type="text" ng-model="snackSearch.name" id="snackSearchField" class="form-control" placeholder="Search By Snack Name">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Snack List</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-primary" type="button" ng-click="addToCart(loginObj.user)">Add to Shopping Cart</button>
        </li>
      </ul>
      <ul class="list-group" ng-repeat="snack in snackList | orderByPriority | filter:snackSearch:strict | filter: {fulfilled: false}">
        <li class="list-group-item text-left" >
          <table class="table table-bordered">
            <tr>
              <td>
                {{snack.name}}
              </td>
              <td>
                <small class="text-muted no-print" ng-hide="false">requested on:<br \> {{snack.reqDate}}</small>
              </td>
            </tr>
            <tr>
              <td>
                <button ng-click="updateSnack(snack)" ng-hide="isAdmin(loginObj.user)" class ="pull-left check-mark btn btn-success">Fufill Request <i class="fa fa-check"></i></button>
              </td>
              <td>
                <button ng-click="removeSnack(snack)" ng-hide="isAdmin(loginObj.user)" class ="pull-right btn btn-warning">Deny Request <i class="fa fa-times"></i></button>
              </td>
            </tr>
          </table>
           
          
          
        </li>
      </ul>
    </div>
  </div>
</div>