<h1 class="no-print">Snack List</h1>
<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 no-print">
  <div class="panel panel-default">
    <div class="panel-heading">Controls</div>
    <div class="panel-body" ng-controller="AdminCtrl">
      <form name="snackForm" id="snackForm" role="form" ng-submit="addSnack($parent.snack, loginObj.user, store.name); reset()">
        <div class="form-group has-feedback ">
          <div class="text-left">
            Snack Name:
          </div>
          <input type="text" class="form-control" maxlength="50" placeholder="Snack Name" ng-model="$parent.snack" required ng-disabled="!loginObj.user || checkLock()"/><br />
          
          <div class="text-left">
            Store Suggestion:
          </div>
          <select class="form-control" ng-options="store.name for store in stores" ng-model="store" required>
            <option value="">Choose Store</option>
          </select>
          <br />
          
          <div class="text-left">
            Submit Request:
          </div>
          <span class="">
            <button class="btn btn-primary form-control" type="button" ng-disabled="!loginObj.user || checkLock()" ng-click="addSnack($parent.snack, loginObj.user, store.name); reset()" required>Request</button>
          </span>
        </div>
      </form>
    </div>
    <div class="panel-body">
      <form name="searchForm" id="searchForm" role="form">
        <div class="form-group text-left">
          <label for="snackSearchField">Search Requests</label>
          <input type="text" ng-model="snackSearch.name" id="snackSearchField" class="form-control" placeholder="Search By Snack Name">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Snack List</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-primary btn-block" type="button" ng-disabled="!loginObj.user" ng-click="addToCart(loginObj.user)">Add to Shopping Cart</button>
        </li>
      </ul>
      <ul class="list-group" ng-repeat="snack in snackList | orderByPriority | filter:snackSearch:strict | filter: {fulfilled: false}">
        <li class="list-group-item text-left" >
          <table class="table table-bordered">
            <tr>
              <td colspan="2" class="text-center">
                {{snack.name}}
              </td>
            </tr>
            <tr>
              <td>
                requested on:
              </td>
              <td>
                <small class="text-muted">{{snack.reqDate}}</small>
              </td>
            </tr>
            <tr>
              <td>
                requested by:
              </td>
              <td>
                <small class="text-muted">{{snack.user}}</small>
              </td>
            </tr>
            <tr>
              <td>
                Store Suggestion:
              </td>
              <td>
                <small class="text-muted">{{snack.store}}</small>
              </td>
            </tr>
            <tr ng-hide="isAdmin(loginObj.user)">
              <td ng-hide="isAdmin(loginObj.user)">
                <button ng-click="updateSnack(snack)" ng-hide="isAdmin(loginObj.user)" class ="btn btn-success btn-block">Fufill Request <i class="fa fa-check"></i></button>
              </td>
              <td ng-hide="isAdmin(loginObj.user)">
                <button ng-click="removeSnack(snack)" ng-hide="isAdmin(loginObj.user)" class ="btn btn-warning btn-block">Deny Request <i class="fa fa-times"></i></button>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>